<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <p>Type New Badge Name</p>
        <input type="text" name="bname" id="bname">
        <p>Type New Badge Description</p>
        <input type="text" name="desc" id="desc">
        <p>Type Badge Category</p>
        <input type="text" name="cat" id="cat">
      
        <button type="submit" name="id" class="btn btn-outline-success" value={{id}} >Update Badge</button>

    </form>
</body>
</html>