<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <p>Type New Name</p>
        <input type="text" name="uname" id="uname">
        <p>Type New Reputation</p>
        <input type="text" name="urep" id="urep">
        <p>Type Number of Questions</p>
        <input type="text" name="noq" id="noq">
        <p>Type Number of Answers</p>
        <input type="text" name="noa" id="noa">
        <button type="submit" name="id" class="btn btn-outline-success" value={{id}} >Update User</button>

    </form>
</body>
</html>