<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    
    <h3>Click on a User ID to Update it</h3>
    {%for id, name, urep, na, nq in uid|zip(uname, rep, noa, noq)%}
    <div class='container'>
        <div class='bg-info p-4 rounded-lg m-4'>
            <p><b>User ID:</b> {{id}}</p>
            <p><b>User Name:</b>{{name}}</p>
            <p><b>Reputation</b>{{urep}}</p>
            <p><b>No of Answers:</b>{{na}}</p>
            <p><b>No of Questions:</b>{{nq}}</p>
            <form action="" method="post">
            <button type="submit" name="id" class="btn btn-outline-success" value={{id}} >Update User</button>
            </form>
        </div>

    </div>

    {%endfor%}
</body>
</html>