<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    
    <h3>Click on a BADGE to Update it</h3>
    {%for id, name, bdesc, bcat in bid|zip(bname, desc, cat)%}
    <div class='container'>
        <div class='bg-info p-4 rounded-lg m-4'>
            <p><b>BADGE ID: </b> {{id}}</p>
            <p><b>BADGE Name: </b>{{name}}</p>
            <p><b>Badge Desc: </b>{{bdesc}}</p>
            <p><b>Badge Category: </b>{{bcat}}</p>
            <form action="" method="post">
            <button type="submit" name="id" class="btn btn-outline-success" value={{id}} >Update Badge</button>
            </form>
        </div>

    </div>

    {%endfor%}
</body>
</html>