<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='input_user.css') }}">
    <title>Document</title>
</head>
<body>




    <h1>Input for New User</h1>
    <h3>Enter your details </H3> <br>
    <form method="POST" action="" class='form'>
        <div class="form-group">

       
        
        <label for="name">First Name</label> 
        <input type = "text" name= "fname" /> <br>

        <label for="rep">Reputation</label>
        <input type = "text" name = "rep" /> <br>


        <label for="ans"> Number of Answers </label>
        
        
        <input type = "text" name = "noa" class='ansinp' /> <br>

        <label for="noq">Number of Questions</label>
        <input type = "text" name = "noq" class='qinp' /> <br>

        <button type='submit' class="btn btn-light">Submit</button>

    </form>
</div>
    
</body>
</html>